.bg-dark {
    text-align: center;
    padding: 20px;
}

nav {
    justify-content: flex-start;
    position: fixed;
    background-color: #eeee;
    padding-left: 15px;
}

.fa-search {
    color: white
}

.btn {
    background-color: blue;
}

.cardCSS {
    padding:10px;
    margin:15px;

}

.mt-5{
    display:flex;
    justify-content: center;
    margin-left: 20px;
}
/* .container {
    border-style: solid black 1rem;
} */